[Unit]
Description=Vault Agent
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/vault.d/agent.hcl

[Service]
User=root
Group=vault
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
NoNewPrivileges=yes
ExecStart=/usr/bin/vault agent -config=/etc/vault.d/agent.hcl -log-level="trace"
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5
TimeoutStartSec=30
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
