pid_file = "/opt/vault/pidfile"

auto_auth {
  method "aws" {
    mount_path = "auth/aws"
    config = {
        type = "iam"
        role = "jrx-test-ansible-role"
    }
  }
}

vault {
  address   = "{{ VAULT_ADDR }}"
  namespace = "{{ VAULT_NAMESPACE }}"
  ca_cert   = "/etc/vault.d/vault-ca.pem"
}

template {
  source      = "/etc/vault.d/certificate.tpl"
  destination = "/opt/vault/vault-agent-tmp.pem"
  command   = "nginx -s reload"
}