---
- name: test remote exec
  hosts: all
  serial: 1
  become: true
  tasks:

  - name: install common packages
    yum:
      name:
        - unzip
        - vim
        - jq
        - nmap-ncat
      state: present

  - name: add hashicorp repository
    yum_repository:
      name: hashicorp
      description: HashiCorp Stable
      baseurl: https://rpm.releases.hashicorp.com/RHEL/9/x86_64/stable
      gpgcheck: true
      gpgkey: https://rpm.releases.hashicorp.com/gpg
      metalink: https://rpm.releases.hashicorp.com/RHEL/9/x86_64/stable/repodata/repomd.xml

  - name: Add nginx stable repo
    ansible.builtin.yum_repository:
      name: nginx-stable
      description: nginx stable repo
      baseurl: "https://nginx.org/packages/centos/9/x86_64/"
      gpgcheck: yes
      enabled: yes
      gpgkey: "https://nginx.org/keys/nginx_signing.key"
      module_hotfixes: yes
      file: nginx

  - name: install vault binary
    yum:
      name: vault-enterprise
      state: present

  - name: install vault-benchmark
    yum:
      name: vault-benchmark
      state: present

  - name: make sure vault is stopped
    systemd:
      name: vault
      state: stopped
      enabled: no

  - name: install boundary binary
    yum:
      name: boundary-enterprise
      state: present

  - name: make sure boundary is stopped
    systemd:
      name: boundary
      state: stopped
      enabled: no

  - name: install nginx
    yum:
      name: nginx
      state: present

  - name: make sure nginx is started
    systemd:
      name: nginx
      state: started
      enabled: yes
